<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Warikan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DA406451D434EB000E2FCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA406591D434EB000E2FCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA406641D434EB000E2FCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
